/* ---------------------------------- */
/*         Custom properties          */
/* ---------------------------------- */

:root {
    /* Colors */
    --clr-dark: 230 35% 7%;
    --clr-light: 231 77% 90%;
    --clr-white: 0 0% 100%;

    /* Font-sizes - for mobile devices */
    --fs-900: clamp(5rem, 20vw, 9.375rem);
    --fs-800: 3.5rem;
    --fs-700: 1.75rem;
    --fs-600: 1.5rem;
    --fs-500: 1.25rem;
    --fs-400: 1rem;
    --fs-300: 0.9375rem;
    --fs-200: 0.875rem;

    /* Font-families */
    --ff-serif: "Bellefair", serif;
    --ff-sans-cond: "Barlow Condensed", sans-serif;
    --ff-sans-normal: "Barlow", sans-serif;
}

@media (min-width: 35rem) {
    :root {
        /* Font-sizes */
        --fs-800: 5rem;
        --fs-700: 2.5rem;
        --fs-600: 2rem;
        --fs-500: 1.75rem;
        --fs-450: 1.5rem;
        --fs-400: 1.25rem;
        --fs-300: 1rem;
    }
}

@media (min-width: 48.5rem) {
    :root {
        /* Font-sizes */
        --fs-800: 6.25rem;
        --fs-700: 3.5rem;
        --fs-500: 1.75rem;
        --fs-450: 1.5rem;
        --fs-400: 1.125rem;
    }
}

/* ---------------------------------- */
/*               Reset                */
/* ---------------------------------- */

/* https://piccalil.li/blog/a-modern-css-reset/ */

/* Box sizing */

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reset margins */

body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: 400;
}

/* Set up the body */

body {
    font-family: var(--ff-sans-normal);
    font-size: var(--fs-300);
    background-color: hsl(var(--clr-dark));
    color: hsl(var(--clr-white));
    line-height: 1.5;
    min-height: 100vh;
    display: grid;
    grid-template-rows: min-content 1fr;
    overflow-x: hidden;
}

/* Make images easier to work with */

img,
picutre {
    max-width: 100%;
    display: block;
}

/* Make form elements easier to work with */

input,
button,
textarea,
select {
    font: inherit;
}

/* Remove animations for people who've turned them off */

@media (prefers-reduced-motion: reduce) {

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}


/* ---------------------------------- */
/*          Utility classes           */
/* ---------------------------------- */

/* General */

.flex {
    display: flex;
    gap: var(--gap, 1rem);
}

.grid {
    display: grid;
    gap: var(--gap, 1rem);
}

.d-block {
    display: block;
    padding-block: clamp(1rem, 2.5vh, 1.5rem);
}

.flow>*:where(:not(:first-child)) {
    margin-top: var(--flow-space, 1rem);
}

.flow--space-small {
    --flow-space: .75rem;
}

.container {
    padding-inline: 2rem;
    margin-inline: auto;
    max-width: 80rem;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.skip-to-content {
    position: absolute;
    z-index: 9999;
    background: hsl(var(--clr-white));
    color: hsl(var(--clr-dark));
    padding: .5rem 1rem;
    margin-inline: auto;
    transform: translateY(-100%);
    transition: transform 250ms ease-in;
}

.skip-to-content:focus {
    transform: translateY(0);
}

/* colors */

.bg-dark {
    background-color: hsl(var(--clr-dark));
}

.bg-accent {
    background-color: hsl(var(--clr-light));
}

.bg-white {
    background-color: hsl(var(--clr-white));
}

.text-dark {
    color: hsl(var(--clr-dark));
}

.text-accent {
    color: hsl(var(--clr-light));
}

.text-white {
    color: hsl(var(--clr-white));
}

/* typography */

.ff-serif {
    font-family: var(--ff-serif);
}

.ff-sans-cond {
    font-family: var(--ff-sans-cond);
}

.ff-sans-normal {
    font-family: var(--ff-sans-normal);
}

.letter-spacing-1 {
    letter-spacing: 4.75px;
}

.letter-spacing-2 {
    letter-spacing: 2.7px;
}

.letter-spacing-3 {
    letter-spacing: 2.35px;
}

.uppercase {
    text-transform: uppercase;
}

.fs-900 {
    font-size: var(--fs-900);
}

.fs-800 {
    font-size: var(--fs-800);
}

.fs-700 {
    font-size: var(--fs-700);
}

.fs-600 {
    font-size: var(--fs-600);
}

.fs-500 {
    font-size: var(--fs-500);
}

.fs-400 {
    font-size: var(--fs-400);
}

.fs-300 {
    font-size: var(--fs-300);
}

.fs-200 {
    font-size: var(--fs-200);
}

.fs-900,
.fs-800,
.fs-700,
.fs-600 {
    line-height: 1.1;
}

.numbered-title {
    font-family: var(--ff-sans-cond);
    font-size: var(--fs-400);
    text-transform: uppercase;
    letter-spacing: 2.7px;
}

.numbered-title span {
    margin-right: 0.5rem;
    font-weight: 700;
    color: hsl(var(--clr-white)/0.25);
}

/* ---------------------------------- */
/*            Components              */
/* ---------------------------------- */

.large-button {
    font-size: 2rem;
    position: relative;
    display: inline-grid;
    z-index: 1;
    place-items: center;
    padding: 0 2rem;
    aspect-ratio: 1;
    text-decoration: none;
    border-radius: 50%;
}

.large-button::after {
    content: "";
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: hsl(var(--clr-white)/0.15);
    border-radius: 50%;
    opacity: 0;
    transition: opacity 500ms linear, transform 750ms ease-in-out;
}

.large-button:hover::after,
.large-button:focus::after {
    opacity: 1;
    transform: scale(1.5);
}

/* primary-header */

.logo {
    margin: 1.5rem clamp(1.5rem, 5vw, 4rem);
    width: 40px;
}

.primary-header {
    justify-content: space-between;
    align-items: center;
}

.primary-navigation {
    --gap: clamp(2rem, 8vw, 3rem);
    --underline-gap: 2rem;
    list-style: none;
    padding: 0;
    margin: 0;
}

.primary-navigation a {
    text-decoration: none;
}

.primary-navigation a>span {
    font-weight: 700;
    margin-right: 0.5rem;
}

@supports (backdrop-filter: blur(2rem)) {
    .primary-navigation {
        background-color: hsl(var(--clr-white)/0.04);
        backdrop-filter: blur(2rem);
    }
}

.mobile-nav-toggle {
    display: none;
}

@media (max-width: 35rem) {
    .primary-navigation {
        --gap: .5rem;
        --underline-gap: .5rem;
        position: fixed;
        z-index: 1000;
        inset: 0 0 0 30%;
        list-style: none;
        padding: 7.375rem 2rem;
        margin: 0;
        flex-direction: column;
        transform: translateX(100%);
        transition: transform 500ms ease-in-out;
    }

    .primary-navigation[data-visible="true"] {
        transform: translateX(0);
    }

    .mobile-nav-toggle {
        display: block;
        position: absolute;
        z-index: 2000;
        right: 1.5rem;
        top: 2.25rem;
        background: transparent;
        border: 0;
        background-image: url(./assets/shared/icon-hamburger.svg);
        background-repeat: no-repeat;
        background-position: center;
        width: 1.5rem;
        aspect-ratio: 1;
    }

    .mobile-nav-toggle[aria-expanded="true"] {
        background-image: url(./assets/shared/icon-close.svg);
    }

    /* Using keyboard */

    .mobile-nav-toggle:focus-visible {
        outline: 3px solid rgb(168, 166, 166);
        outline-offset: 3px;
    }

    .primary-navigation.underline-indicators>* {
        border: 0;
    }

    .text-sizing {
        font-size: var(--fs-400);
        letter-spacing: 2.7px;
    }

    .large-button {
        width: 150px;
        font-size: var(--fs-500);
    }
}

@media (min-width: 35rem) {
    .primary-navigation {
        padding-inline: clamp(2rem, 4vw, 6rem);
        font-size: var(--fs-200);
    }

    .text-sizing {
        font-size: var(--fs-400);
        letter-spacing: 3.38px;
    }

    .large-button {
        width: 242px;
    }

    .logo {
        width: 48px;
    }
}

@media (min-width: 560px) and (max-width: 774.4px) {
    @supports (backdrop-filter: blur(0.2rem)) {
        .primary-navigation {
            background-color: hsl(var(--clr-white)/0.06);
            backdrop-filter: blur(0.2rem);
        }
    }

    .primary-navigation a>span {
        display: none;
    }
}

@media (min-width: 48.5rem) {
    .primary-header::after {
        content: "";
        display: block;
        position: relative;
        height: 1px;
        width: 100%;
        background: hsl(var(--clr-white)/0.25);
        order: 1;
        left: 2.5rem;
    }

    nav {
        order: 2;
    }

    .primary-navigation {
        padding-inline: clamp(2.875rem, 12vw, 10em);
        margin-block: 2rem;
        font-size: var(--fs-300);
    }

    .text-sizing {
        font-size: var(--fs-500);
        letter-spacing: 4.72px;
    }

    .grid-container p {
        font-size: var(--fs-400);
    }

    .large-button {
        width: 274px;
    }
}

.number-list {
    --gap: 2rem;
}

.number-indicators>* {
    cursor: pointer;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border-color: hsl(var(--clr-white)/0.25);
    background-color: hsl(var(--clr-dark));
    color: hsl(var(--clr-white));
}

.number-indicators>*:hover,
.number-indicators>*:focus {
    border-color: hsl(var(--clr-white)/1);
}

.number-indicators>[aria-selected="true"] {
    border-color: hsl(var(--clr-white));
    background-color: hsl(var(--clr-white));
    color: hsl(var(--clr-dark));
}

.underline-indicators>* {
    cursor: pointer;
    padding: var(--underline-gap, 0.5rem) 0;
    border: 0;
    border-bottom: 0.2rem solid hsl(var(--clr-white)/0);
    background-color: transparent;
}

.underline-indicators>*:hover,
.underline-indicators>*:focus {
    border-color: hsl(var(--clr-white)/0.5);
}

.underline-indicators>.active,
.underline-indicators>[aria-selected="true"] {
    color: hsl(var(--clr-white)/1);
    border-color: hsl(var(--clr-white)/1);
}

.tab-list {
    --gap: 1.5rem;
}

.dot-indicators>* {
    cursor: pointer;
    border: 0;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: hsl(var(--clr-white)/0.25);
    padding: 5px;
}

.dot-indicators>*:hover,
.dot-indicators>*:focus {
    background-color: hsl(var(--clr-white)/0.5);
}

.dot-indicators>[aria-selected="true"] {
    background-color: hsl(var(--clr-white)/1);
}

/* ---------------------------------- */
/*     Page specific background       */
/* ---------------------------------- */

body {
    background-size: cover;
    background-position: bottom center;
}

/* home */

.home {
    background-image: url(./assets/home/background-home-mobile.jpg);
}

@media (min-width: 560px) {
    .home {
        background-position: center;
        background-image: url(./assets/home/background-home-tablet.jpg);
    }
}

@media (min-width: 776px) {
    .home {
        background-image: url(./assets/home/background-home-desktop.jpg);
    }
}

/* destination */

.destination {
    background-image: url(./assets/destination/background-destination-mobile.jpg);
}

@media (min-width: 560px) {
    .destination {
        background-position: center;
        background-image: url(./assets/destination/background-destination-tablet.jpg);
    }
}

@media (min-width: 776px) {
    .destination {
        background-image: url(./assets/destination/background-destination-desktop.jpg);
    }
}

/* crew */

.crew {
    background-image: url(./assets/crew/background-crew-mobile.jpg);
}

@media (min-width: 560px) {
    .crew {
        background-position: center;
        background-image: url(./assets/crew/background-crew-tablet.jpg);
    }
}

@media (min-width: 776px) {
    .crew {
        background-image: url(./assets/crew/background-crew-desktop.jpg);
    }
}

/* technology */

.technology {
    background-image: url(./assets/technology/background-technology-mobile.jpg);
}

@media (min-width: 560px) {
    .technology {
        background-position: center;
        background-image: url(./assets/technology/background-technology-tablet.jpg);
    }
}

@media (min-width: 776px) {
    .technology {
        background-image: url(./assets/technology/background-technology-desktop.jpg);
    }
}

/* ---------------------------------- */
/*               Layout               */
/* ---------------------------------- */

.grid-container {
    --flow-space: 2rem;
    display: grid;
    text-align: center;
    place-items: center;
    padding-inline: 1.5rem;
    padding-bottom: clamp(0.5rem, 1vh, 3.625rem);
}

.grid-container p {
    max-width: 60ch;
}

.numbered-title {
    grid-area: title;
}

/* destination layout */

.grid-container--destination {
    padding-bottom: clamp(2.5rem, 7.5vh, 6.625rem);
    --flow-space: 1.5rem;
    grid-template-areas:
        "title"
        "image"
        "tabs"
        "content";
}

.grid-container--destination>picture {
    grid-area: image;
    max-width: 52%;
    align-self: start;
}

.grid-container--destination>.tab-list {
    grid-area: tabs;
}

.grid-container--destination>.destination-info {
    grid-area: content;
}

.destination-meta {
    flex-direction: column;
    border-top: 1px solid hsl(var(--clr-white)/.2);
    padding-top: 2rem;
    margin-top: 2rem;
    align-items: center;
}

.destination-info>p {
    margin-top: 0;
}

.destination-meta p {
    font-size: 1.75rem;
}

/* crew layout */

.grid-container--crew {
    --flow-space: 2rem;
    grid-template-areas:
        "title"
        "image"
        "tabs"
        "content";
}

.grid-container--crew>picture {
    grid-area: image;
    max-width: 60%;
    border-bottom: 1px solid hsl(var(--clr-white)/.1);
}

@media (max-width: 375px) {
    .grid-container--crew {
        padding-bottom: clamp(2.5rem, 14vh, 5rem);
    }

    .grid-container--crew>picture {
        max-width: 100%;
        margin-top: 0;
    }

    .grid-container--crew>picture img {
        max-width: 52%;
        margin-left: 90px;
    }

    .grid-container--crew>.dot-indicators {
        margin-top: 0;
    }

    .grid-container--crew>.crew-details {
        margin-top: 0;
    }

    .grid-container--crew>#specialist-image img {
        max-width: 45%;
    }

    .grid-container--crew>#engineer-image img {
        max-width: 65%;
        margin-left: 60px;
    }

    .grid-container--technology>picture {
        margin-top: 0;
    }

    .number-indicators>* {
        width: 40px;
        height: 40px;
        font-size: var(--fs-400);
    }

    .number-list {
        --gap: 1rem;
    }

    .flow>*:where(:not(:first-child)) {
        margin-top: 1rem;
    }

    .grid-container--technology>.technology-details {
        margin-top: 0;
    }

    .technology-details p {
        padding-inline: 24px;
    }
}

.grid-container--crew>.dot-indicators {
    grid-area: tabs;
}

.grid-container--crew>.crew-details {
    grid-area: content;
}

.crew-details h2 {
    color: hsl(var(--clr-white)/0.5);
}

/* technology layout */

.grid-container--technology {
    margin: 0;
    padding: 0;
    padding-bottom: 4rem;
    --flow-space: 2rem;
    grid-template-areas:
        "title"
        "image"
        "tabs"
        "content";
}

.grid-container--technology>picture {
    grid-area: image;
    max-width: 100%;
    border-bottom: 1px solid hsl(var(--clr-white)/.1);
}

.grid-container--technology>.number-indicators {
    grid-area: tabs;
}

.grid-container--technology>.technology-details {
    grid-area: content;
}

.technology-details h2 {
    color: hsl(var(--clr-white)/0.5);
}

@media (min-width: 35rem) {
    .numbered-title {
        justify-self: start;
        margin-top: 2.5rem;
        letter-spacing: 3.38px;
    }

    .tab-list {
        --gap: 2.5rem;
    }

    .grid-container--home p {
        max-width: 49ch;
    }

    .grid-container--destination>.tab-list button {
        letter-spacing: 2.7px;
        font-size: var(--fs-300);
    }

    .grid-container--destination>picture {
        max-width: 42%;
    }

    .grid-container--destination p {
        max-width: 64ch;
    }

    .destination-meta {
        flex-direction: row;
        justify-content: space-evenly;
    }

    .grid-container--crew {
        padding-bottom: 0;
        --flow-space: 2rem;
        grid-template-areas:
            "title"
            "content"
            "tabs"
            "image";
    }

    .grid-container--crew>#commander-tab p {
        max-width: 51ch;
    }

    .grid-container--crew>#specialist-tab p,
    .grid-container--crew>#engineer-tab p {
        max-width: 57ch;
    }

    .grid-container--crew>#commander-image img {
        margin-left: 25px;
    }

    .grid-container--crew>#specialist-image img {
        max-width: 80%;
        margin: auto;
    }

    .grid-container--crew>#pilot-tab p {
        max-width: 65ch;
    }

    .crew-details h2 {
        font-size: var(--fs-450);
    }

    .crew-details>header p {
        font-size: var(--fs-700);
    }

    .number-indicators>* {
        font-size: var(--fs-450);
    }

    .number-list {
        --gap: 1.2rem;
    }

    .grid-container--technology>.numbered-title {
        padding-left: 2.5rem;
    }

    .technology-details h2 {
        font-size: var(--fs-300);
        letter-spacing: 2.7px;
    }

    .grid-container--technology>#vehicle-tab {
        max-width: 60ch;
        padding-inline: 51px;
    }

    .grid-container--technology>#spaceport-tab,
    .grid-container--technology>#capsule-tab {
        max-width: 60ch;
        padding-inline: 48.5px;
    }

    .technology-details {
        margin-top: 10px;
    }

    .technology-details p {
        margin-top: 20px;
    }

    .technology-details>header p {
        font-size: var(--fs-700);
    }
}

@media (min-width: 48.5rem) {
    .grid-container {
        text-align: left;
        column-gap: var(--container-gap, 2rem);
        grid-template-columns: minmax(1rem, 1fr) repeat(2, minmax(0, 30rem)) minmax(1rem, 1fr);
    }

    .numbered-title {
        font-size: var(--fs-500);
        letter-spacing: 4.72px;
    }

    .grid-container--home {
        grid-template-columns: minmax(1rem, 1fr) minmax(0, 50rem) minmax(0, 35rem) minmax(1rem, 1fr);
        column-gap: 0;
        padding-bottom: max(8.2rem, 15vh);
        align-items: end;
    }

    .grid-container--home>*:first-child {
        grid-column: 2;
    }

    .grid-container--home>*:last-child {
        grid-column: 3;
    }

    .grid-container--home p {
        max-width: 46ch;
    }

    .grid-container--destination {
        padding-bottom: max(6rem, 10vh);
        column-gap: var(--container-gap, 7rem);
        justify-items: start;
        justify-content: start;
        grid-template-areas:
            ". title title ."
            ". image tabs ."
            ". image content .";
    }

    .grid-container--destination>picture {
        max-width: 95%;
        align-self: center;
    }

    .grid-container--destination p {
        max-width: 43.5ch;
    }

    .destination-info {
        margin-top: 0;
    }

    .destination-meta {
        --gap: min(5vw, 5rem);
        justify-content: start;
    }

    .grid-container--crew {
        grid-template-columns: minmax(1rem, 1fr) minmax(0, 40rem) minmax(0, 20rem) minmax(1rem, 1fr);
        justify-items: start;
        justify-content: start;
        grid-template-areas:
            ". title image ."
            ". content image ."
            ". tabs image .";
    }

    .grid-container--crew>picture {
        grid-column: span 2;
        align-self: end;
        max-width: 90%;
    }

    .crew-details h2 {
        font-size: var(--fs-600);
    }

    .grid-container--crew>#commander-tab p,
    .grid-container--crew>#specialist-tab p,
    .grid-container--crew>#pilot-tab p {
        max-width: 45ch;
    }

    .grid-container--crew>#engineer-tab p {
        max-width: 43.2ch;
    }

    .grid-container--crew>#specialist-image img {
        max-width: 95%;
    }

    .grid-container--crew>.dot-indicators {
        gap: 1.6rem;
    }

    .dot-indicators>* {
        padding: 8px;
        margin-bottom: 50px;
    }

    .grid-container--technology>.number-indicators {
        flex-direction: column;
    }

    .grid-container--technology {
        padding-bottom: max(6.875rem, 12vh);
        grid-template-columns: minmax(2rem, 2fr) minmax(2rem, 1fr) minmax(0, 38rem) minmax(0, 25rem) minmax(1rem, 1fr);
        justify-items: start;
        justify-content: start;
        grid-template-areas:
            ". title title . ."
            ". tabs content image ."
            ". tabs content image .";
    }

    .grid-container--technology>picture {
        grid-column: span 2;
    }

    .grid-container--technology>.numbered-title {
        padding-left: 0;
        font-size: var(--fs-500);
        letter-spacing: 4.72px;
    }

    .number-indicators>* {
        height: 80px;
        width: 80px;
        font-size: var(--fs-600);
    }

    .grid-container--technology>#vehicle-tab {
        max-width: 65ch;
    }

    #vehicle-tab>p:where(:not(:first-child)) {
        padding-right: 40px;
    }

    #capsule-tab>p:where(:not(:first-child)) {
        padding-right: 5px;
    }
}